<!DOCTYPE html>
<html>
<header>
    <title>Eve Online Ship Comparison</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <% if (typeof js_includes !== 'undefined') { %>
    <% for(var i=0; i < js_includes.length; i++) { %>
    <script src="<%= js_includes[i] %>"></script>
    <% }%>
    <% }%>
</header>
<style>
    #header {
        background-color:lightcoral;
        color:black;
        text-align:left;
        height:175px;
        font-size:48px;
    }
    #menu {
        background-color:lavender;
        height:900px;

        float:left;
        padding:5px;
    }
    #content {
        height:400px;
        float:left;
        padding:10px;
    }

    #footer {
        background-color:lightcoral;
        color:black;
        clear:both;
        text-align:center;
        padding:5px;
    }
</style>



<body>
<div style="float:right;">
    <% if(typeof firstname !== "undefined") { %>
    Welcome, <%= firstname %><br/>
    <a href="/logout">Logout</a>
    <% } else { %>
    <a href="/login">Login</a><br/>
    <a href="/users/new">Create Account</a>
    <% } %>
</div>

<div id="header">
    Eve Online Ship Comparison
</div>