<div id="menu">
    <br/><a href="/">Home</a><br />
    <a href="/about">About Us</a><br /><br/>

    <a href="/ships">View Ships</a><br/>
    <a href="/ships/new">Add Ship</a><br/>
    <a href="/ships/equipment">View Equipment</a><br/>
    <a href="/mats/raw">Raw Materials</a><br/>
    <a href="/mats/refined">Refined Mats</a><br/>
    <a href="/users/all">View All Users</a><br/>


</div>
<style>
    h1 {text-align:center;}
    p {text-align:left;}
</style>
