<% include ../partials/header.ejs%>
<% include ../partials/menu.ejs%>

<div>
    <h1>Raw Material List</h1>
    <% if(rs.length > 0) { %>
    <table border="1">
        <tr><th>Material</th><th>Family</th><th>Size</th><th>Price</th><th>Refined Into</th></tr>
        <% for (var i=0; rs.length > i; i++) { %>
        <tr>
            <td> <%= rs[i].rawMat %></td>
            <td><%= rs[i].matFamily%></td>
            <td><%= rs[i].size%></td>
            <td><%= rs[i].price%></td>
            <td><a href="/mats/raw/refined/?rawMat=<%= rs[i].rawMat %>">Info</a></td>
        </tr>
        <% } %>
    </table>
    <% } else { %>
    No Users exist.
    <% } %>
</div>




<% include ../partials/footer.ejs%>