<% include ../partials/header.ejs%>
<% include ../partials/menu.ejs%>

<div>
    <h1>Refined Material List</h1>
    <% if(rs.length > 0) { %>
    <table border="1">
        <tr><th>Material</th><th>Size</th><th>Price</th>></tr>
        <% for (var i=0; rs.length > i; i++) { %>
        <tr>
            <td> <%= rs[i].refinedMat %></td>
            <td><%= rs[i].size%></td>
            <td><%= rs[i].price%></td>
        </tr>
        <% } %>
    </table>
    <% } else { %>
    No Users exist.
    <% } %>
</div>




<% include ../partials/footer.ejs%>