<% include ../partials/header.ejs%>
<% include ../partials/menu.ejs%>

<div>
    <h1>Raw to Refined List</h1>
    <% if(rs.length > 0) { %>
    <table border="1">
        <tr><th>Raw</th><th>Refine</th><th>Quantity of Refined</th><th>Total Price For Refined</th>></tr>
        <% for (var i=0; rs.length > i; i++) { %>
        <tr>
            <td> <%= rs[i].rawMat %></td>
            <td><%= rs[i].refinedMat%></td>
            <td><%= rs[i].quantity%></td>
            <td><%= rs[i].refinedPrice%></td>
        </tr>
        <% } %>
    </table>
    <% } else { %>
    No Users exist.
    <% } %>
</div>




<% include ../partials/footer.ejs%>