<% include partials/header.ejs%>
<% include partials/menu.ejs%>

<h1>
    About to the Eve Online Ship Comparison
</h1>
<p>
   We do our best to make sure that you're not wasting you time in the asteroid belt! Find out the best equipement, gear and ships!
    We have every comparison tool you need to make sure you are getting the most about of money possible every time you fill up your haul with materials!
    The goal is to make sure you are able to make as much money as possible, maximize profits and give you the advantage over others.
    We want more miners in the community and this is the got to guide for referencing everything a new miner would have questions about.
</p>
<h3>
    You can contact the Eve Online Ship Comparison Company at<br/>
</h3>
123 Fake Street <br/>
Sacramento, CA 95405<br/>
Phone Number: 1 (800) 555-5555<br/>


<% include partials/footer.ejs%>