<% include partials/header.ejs%>
<% include partials/menu.ejs%>

<h1>
  Welcome to the Eve Online Ship Comparison
</h1>
<p>
Use this site for all your Eve Online market needs!<br/>
Pick from the menus to the side and start maximize the about of money you get today! We have all the comparison tools you need for materials, ships and more!
  While browsing the Raw Materials page, you can also see what each item breaks down into buy clicking the infor button.

  <br/><br/>Now using bootstrap to make our website looking even more beautiful than it already was!!!
</p>


<% include partials/footer.ejs%>