<% include ../partials/header.ejs%>
<% include ../partials/menu.ejs%>

<div>
    <h1>Ship Equipment Miners</h1>
    <% if(rs.length > 0) { %>
    <table border="1">
        <tr><th>Miner</th><th>Type</th><th>Amount</th><th>Max Range</th><th>Duration (Sec)</th></tr>
        <% for (var i=0; rs.length > i; i++) { %>
        <tr>
            <td> <%= rs[i].miner %></td>
            <td><%= rs[i].minerType%></td>
            <td><%= rs[i].amount%></td>
            <td><%= rs[i].maxRange%></td>
            <td><%= rs[i].duration%></td>
        </tr>
        <% } %>
    </table>
    <% } else { %>
    No Users exist.
    <% } %>
</div>




<% include ../partials/footer.ejs%>