<% include ../partials/header.ejs%>
<% include ../partials/menu.ejs%>

<div>
    <h1>Ships</h1>
    <% if(rs.length > 0) { %>
    <table border="1">
        <tr><th>Ship</th><th>Type</th><th>Cargo</th><th>Speed</th><th>Shield</th><th>Structure</th></tr>
        <% for (var i=0; rs.length > i; i++) { %>
        <tr>
            <td> <%= rs[i].ship %></td>
            <td><%= rs[i].shipType%></td>
            <td><%= rs[i].cargo%></td>
            <td><%= rs[i].speed%></td>
            <td><%= rs[i].shield%></td>
            <td><%= rs[i].structure%></td>
        </tr>
        <% } %>
    </table>
    <% } else { %>
    No Users exist.
    <% } %>
</div>




<% include ../partials/footer.ejs%>