<% js_includes = []%>
<% include ../partials/header.ejs %>
<h1>Add a New Ship</h1>
<form method="POST" action="/ships/insert">
    Ship Name <input type="text" id="ship" name="ship"><br/>
    Ship Type <input type="text" id="shipType" name="shipType"><br/>
    Ship Cargo Size <input type="number" id="cargo" name="cargo"><br/>
    Ship Speed <input type="number" id="speed" name="speed"><br/>
    Ship Sheild<input type="number" id="shield" name="shield"><br/>
    Ship Armor <input type="number" id="armor" name="armor"><br/>
    Ship Structure <input type="number" id="structure" name="structure"><br/>
    <br/>
    <button id="addBtn">Add</button>
</form>